<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registerpage</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <style>
    .f{
        margin-left: 150px;
        /* margin-top:100px; */
        background-color: whitesmoke;
        color: dodgerblue;
        width: 70%;
        text-align: center;
        height: 630px;
      }

     
    </style>

  </head>

  <body>
    {% extends 'demo.html' %}

    {% block content %}

    <div class="container my-4">
      <div class='main'>
        <!-- Registration Form -->
        <div class='d1'>

          <form class="f py-3" action="{%url 'update' std.rollnumber%}" method="POST" autocomplete="off">
            {% csrf_token %}
            <caption>
              <h2>student Form</h2>

            </caption>
            {% if msg %}
            <p style="font-size: 20px; color: green;"> {{msg}}</p>
            {% endif %}
            <hr>
            <div class="col-md-12 py-3">
              <label for="exampleInputPassword1">Enter student rollnumber</label>
              <input type="number" readonly="" name="rollnumber" value="{{std.rollnumber}}">
            </div>

            <div class="col-md-12 py-3">
              <label for="exampleInputPassword1">Enter student Name</label>
              <input type="text" name="name" value="{{std.name}}">
            </div>

            <div class="col-md-12 py-3">
              <label for="exampleInputPassword1">Enter student Age</label>
              <input type="number" name="age" value="{{std.age}}">
            </div>

            <div class="col-md-12 py-3">
                <label for="exampleInputPassword1">Enter student Contact</label>
                <input type="text" name="mobile" value="{{std.mobile}}">
              </div>
 

            <div class="col-md-12 py-3">
              <label for="exampleInputPassword1">Enter student Email</label>
              <input type="email" name="email" value="{{std.email}}">
            </div>

            <div class="col-md-12 py-3">
                <label for="exampleInputPassword1">Enter student City</label>
                <input type="text" name="city" value="{{std.city}}">
              </div>
           

            <br>
            <button type="submit" class="btn btn-primary">Update student</button>
            <br>
          </form>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>